/* Global customization */
body, html {
  overflow-x: visible;
}

.container {
  max-width: none;
}

.wrapped {
  padding-left: 5em;
}

.wrapped table {
  table-layout: fixed;
  width: auto !important;
}

table th {
  overflow-wrap: break-word;
}

.wrapped thead th {
  position: sticky;
  white-space: nowrap;
  overflow-wrap: break-word;
}
.wrapped thead tr:nth-child(1) th {
  top: 0;
  background-color: #FFFFFF;
}
.wrapped thead tr:nth-child(2) th {
  top: 2.5rem;
  background-color: #F8F9FA;
}
.wrapped thead tr:nth-child(3) th {
  top: 5rem;
  background-color: #FFFFFF;
}

table td {
  width: 20px;
  overflow-wrap: break-word;
}

span.LegendNA {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  background-color: #828282;
}

span.LegendLo {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  background-color: #D9634C;
}

span.LegendMed {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  background-color: #D6AF22;
}

span.LegendHi {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  background-color: #4FC921;
}

/* Light mode theming */
:root,
:root[color-mode="light"] {
  --header-background: #07579E;
}
@media (prefers-color-scheme: light) {
  :root {
    --header-background: #07579E;
  }
}

/* Dark mode theming */
:root[color-mode="dark"] {
  --header-background: #07579E;
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-background: #07579E;
  }
}
