/* Global customization */
.container {
  max-width: none;
}

.wrapped {
  overflow: scroll;
  width: calc(100vw - 1rem);
  height: 75vh;
}

.gdoc-markdown .wrapped table {
  border-collapse: separate;
  width: fit-content;
}

table th {
  overflow-wrap: break-word;
}

table td {
  width: 20px;
  overflow-wrap: break-word;
}

.wrapped thead th {
  position: sticky;
  white-space: nowrap;
  overflow-wrap: break-word;
  z-index: 1;
}
.wrapped thead th:first-child {
  z-index: 2;
}
.wrapped thead tr:nth-child(1) th {
  top: 0;
  background-color: var(--accent-color-lite);
}
.wrapped thead tr:nth-child(2) th {
  top: 2.5rem;
  background-color: var(--body-background);
}
.wrapped thead tr:nth-child(3) th {
  top: 5rem;
  background-color: var(--accent-color-lite);
}
.wrapped table th:first-child, td:first-child {
  position: sticky;
  left: 0;
  background-color: var(--body-background);
}
.wrapped table tr:nth-child(2n) td:first-child {
  background-color: var(--accent-color-lite);
}

.LegendNA {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  background-color: #828282;
}

.LegendLo {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  background-color: #D9634C;
}

.LegendMed {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  background-color: #D6AF22;
}

.LegendHi {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  background-color: #4FC921;
}

/* Light mode theming */
:root,
:root[color-mode="light"] {
  --header-background: #07579E;
}
@media (prefers-color-scheme: light) {
  :root {
    --header-background: #07579E;
  }
}

/* Dark mode theming */
:root[color-mode="dark"] {
  --header-background: #07579E;
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-background: #07579E;
  }
}
