/* Global customization */
.container {
  max-width: none;
}

.wrapped {
  padding-left: 5em;
  overflow: auto;
}

.wrapped table {
  table-layout: fixed;
  width: auto !important;
}

table td {
  width: 20px;
  overflow-wrap: break-word;
}

/* Light mode theming */
:root,
:root[color-mode="light"] {
  --header-background: #07579E;
}
@media (prefers-color-scheme: light) {
  :root {
    --header-background: #07579E;
  }
}

/* Dark mode theming */
:root[color-mode="dark"] {
  --header-background: #07579E;
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-background: #07579E;
  }
}
